In [1]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('BigDataTask').getOrCreate()

In [3]:
spark

In [4]:
bank_details = spark.read.load("Customer_and_bank details_p1.csv", format="csv", inferSchema="true", header="true")
bank_details.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- City_Code: string (nullable = true)

In [5]:
bank_details.show(10)

+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+
|Customer_id|age|        job| marital|          education|default|housing|loan|Region_Code|State_Code|City_Code|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+
|          1| 56|   services| married|        high.school|     no|     no| yes|          3|        S1|       C1|
|          2| 45|   services| married|           basic.9y|unknown|     no|  no|          3|        S1|       C1|
|          3| 59|     admin.| married|professional.course|     no|     no|  no|          4|        S2|       C2|
|          4| 41|blue-collar| married|            unknown|unknown|     no|  no|          3|        S3|       C3|
|          5| 24| technician|  single|professional.course|     no|    yes|  no|          3|        S3|       C3|
|          6| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|
|          7| 41|blue-collar| married|            unknown|unknown|     no|  no|          4|        S2|       C2|
|          8| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|
|          9| 29|blue-collar|  single|        high.school|     no|     no| yes|          4|        S2|       C2|
|         10| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|         Na|        S2|       C2|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+
only showing top 10 rows

In [6]:
campaign_details = spark.read.load("Customer_campaign_details_p1.csv", format="csv", inferSchema="true", header="true")
campaign_details.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)

In [7]:
campaign_details.show(10)

+-----------+---------+-----+-----------+--------+--------+-----+--------+-----------+
|Customer_id|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|
+-----------+---------+-----+-----------+--------+--------+-----+--------+-----------+
|          1|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|
|          2|telephone|  may|        mon|     198|       1|  999|       0|nonexistent|
|          3|telephone|  may|        mon|     139|       1|  999|       0|nonexistent|
|          4|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|
|          5|telephone|  may|        mon|     380|       1|  999|       0|nonexistent|
|          6|telephone|  may|        mon|      50|       1|  999|       0|nonexistent|
|          7|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|
|          8|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|
|          9|telephone|  may|        mon|     137|       1|  999|       0|nonexistent|
|         10|telephone|  may|        mon|     293|       1|  999|       0|nonexistent|
+-----------+---------+-----+-----------+--------+--------+-----+--------+-----------+
only showing top 10 rows

In [8]:
response_data = spark.read.load("Customer_Response_data_p1.csv", format="csv", inferSchema="true", header="true")
response_data.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- y: string (nullable = true)

In [9]:
response_data.show(10)

+-----------+---+
|Customer_id|  y|
+-----------+---+
|          1| no|
|          2| no|
|          3| no|
|          4| no|
|          5| no|
|          6| no|
|          7| no|
|          8| no|
|          9| no|
|         10| no|
+-----------+---+
only showing top 10 rows

In [10]:
economic_data=spark.read.load("Customer_social_economic_data_p1.csv", format="csv", inferSchema="true", header="true")
economic_data.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- emp.var.rate: double (nullable = true)
 |-- cons.price.idx: double (nullable = true)
 |-- cons.conf.idx: double (nullable = true)
 |-- euribor3m: double (nullable = true)
 |-- nr.employed: double (nullable = true)

In [11]:
economic_data.show(10)

+-----------+------------+--------------+-------------+---------+-----------+
|Customer_id|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|
+-----------+------------+--------------+-------------+---------+-----------+
|          1|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          2|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          3|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          4|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          5|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          6|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          7|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          8|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          9|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         10|         1.1|        93.994|        -36.4|    4.857|     5191.0|
+-----------+------------+--------------+-------------+---------+-----------+
only showing top 10 rows

In [12]:
customer_details =bank_details.join(campaign_details, on='Customer_id')
customer_details.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)

In [13]:
customer_details.show(10)

+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+
|Customer_id|age|        job| marital|          education|default|housing|loan|Region_Code|State_Code|City_Code|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+
|          1| 56|   services| married|        high.school|     no|     no| yes|          3|        S1|       C1|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|
|          2| 45|   services| married|           basic.9y|unknown|     no|  no|          3|        S1|       C1|telephone|  may|        mon|     198|       1|  999|       0|nonexistent|
|          3| 59|     admin.| married|professional.course|     no|     no|  no|          4|        S2|       C2|telephone|  may|        mon|     139|       1|  999|       0|nonexistent|
|          4| 41|blue-collar| married|            unknown|unknown|     no|  no|          3|        S3|       C3|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|
|          5| 24| technician|  single|professional.course|     no|    yes|  no|          3|        S3|       C3|telephone|  may|        mon|     380|       1|  999|       0|nonexistent|
|          6| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|      50|       1|  999|       0|nonexistent|
|          7| 41|blue-collar| married|            unknown|unknown|     no|  no|          4|        S2|       C2|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|
|          8| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|
|          9| 29|blue-collar|  single|        high.school|     no|     no| yes|          4|        S2|       C2|telephone|  may|        mon|     137|       1|  999|       0|nonexistent|
|         10| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|         Na|        S2|       C2|telephone|  may|        mon|     293|       1|  999|       0|nonexistent|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+
only showing top 10 rows

In [14]:
final_df=customer_details.join(response_data, on='Customer_id')
final_df.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [15]:
final_df.show(10)

+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+---+
|Customer_id|age|        job| marital|          education|default|housing|loan|Region_Code|State_Code|City_Code|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|  y|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+---+
|          1| 56|   services| married|        high.school|     no|     no| yes|          3|        S1|       C1|telephone|  may|        mon|     307|       1|  999|       0|nonexistent| no|
|          2| 45|   services| married|           basic.9y|unknown|     no|  no|          3|        S1|       C1|telephone|  may|        mon|     198|       1|  999|       0|nonexistent| no|
|          3| 59|     admin.| married|professional.course|     no|     no|  no|          4|        S2|       C2|telephone|  may|        mon|     139|       1|  999|       0|nonexistent| no|
|          4| 41|blue-collar| married|            unknown|unknown|     no|  no|          3|        S3|       C3|telephone|  may|        mon|     217|       1|  999|       0|nonexistent| no|
|          5| 24| technician|  single|professional.course|     no|    yes|  no|          3|        S3|       C3|telephone|  may|        mon|     380|       1|  999|       0|nonexistent| no|
|          6| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|      50|       1|  999|       0|nonexistent| no|
|          7| 41|blue-collar| married|            unknown|unknown|     no|  no|          4|        S2|       C2|telephone|  may|        mon|      55|       1|  999|       0|nonexistent| no|
|          8| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|     222|       1|  999|       0|nonexistent| no|
|          9| 29|blue-collar|  single|        high.school|     no|     no| yes|          4|        S2|       C2|telephone|  may|        mon|     137|       1|  999|       0|nonexistent| no|
|         10| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|         Na|        S2|       C2|telephone|  may|        mon|     293|       1|  999|       0|nonexistent| no|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+---+
only showing top 10 rows

In [16]:

final_df=final_df.withColumnRenamed("y","Deposit")

In [17]:
final_df.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- Deposit: string (nullable = true)

In [18]:
final_df.count()

37084

In [19]:
list=['Region_Code','State_Code','City_Code','duration']
customer_final = final_df.drop(*list)
customer_final.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- Deposit: string (nullable = true)

In [20]:
customer_final = final_df.drop('Customer_id')
customer_final.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- Deposit: string (nullable = true)

In [21]:
customer_final.show(10)

+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+-------+
|age|        job| marital|          education|default|housing|loan|Region_Code|State_Code|City_Code|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|Deposit|
+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+-------+
| 56|   services| married|        high.school|     no|     no| yes|          3|        S1|       C1|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|     no|
| 45|   services| married|           basic.9y|unknown|     no|  no|          3|        S1|       C1|telephone|  may|        mon|     198|       1|  999|       0|nonexistent|     no|
| 59|     admin.| married|professional.course|     no|     no|  no|          4|        S2|       C2|telephone|  may|        mon|     139|       1|  999|       0|nonexistent|     no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|          3|        S3|       C3|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|     no|
| 24| technician|  single|professional.course|     no|    yes|  no|          3|        S3|       C3|telephone|  may|        mon|     380|       1|  999|       0|nonexistent|     no|
| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|      50|       1|  999|       0|nonexistent|     no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|          4|        S2|       C2|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|     no|
| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|     no|
| 29|blue-collar|  single|        high.school|     no|     no| yes|          4|        S2|       C2|telephone|  may|        mon|     137|       1|  999|       0|nonexistent|     no|
| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|         Na|        S2|       C2|telephone|  may|        mon|     293|       1|  999|       0|nonexistent|     no|
+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+-------+
only showing top 10 rows

In [22]:
bank_details.write.mode("overwrite").saveAsTable('bank_details')
spark.sql("select * from bank_details").show()

+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+
|Customer_id|age|        job| marital|          education|default|housing|loan|Region_Code|State_Code|City_Code|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+
|          1| 56|   services| married|        high.school|     no|     no| yes|          3|        S1|       C1|
|          2| 45|   services| married|           basic.9y|unknown|     no|  no|          3|        S1|       C1|
|          3| 59|     admin.| married|professional.course|     no|     no|  no|          4|        S2|       C2|
|          4| 41|blue-collar| married|            unknown|unknown|     no|  no|          3|        S3|       C3|
|          5| 24| technician|  single|professional.course|     no|    yes|  no|          3|        S3|       C3|
|          6| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|
|          7| 41|blue-collar| married|            unknown|unknown|     no|  no|          4|        S2|       C2|
|          8| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|
|          9| 29|blue-collar|  single|        high.school|     no|     no| yes|          4|        S2|       C2|
|         10| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|         Na|        S2|       C2|
|         11| 35|blue-collar| married|           basic.6y|     no|    yes|  no|          4|        S2|       C2|
|         12| 54|    retired| married|           basic.9y|unknown|    yes| yes|          4|        S2|       C2|
|         13| 35|blue-collar| married|           basic.6y|     no|    yes|  no|          3|        S4|       C4|
|         14| 46|blue-collar| married|           basic.6y|unknown|    yes| yes|          4|        S5|       C5|
|         15| 50|blue-collar| married|           basic.9y|     no|    yes| yes|          1|        S6|       C6|
|         16| 39| management|  single|           basic.9y|unknown|     no|  no|          1|        S6|       C6|
|         17| 55|blue-collar| married|           basic.4y|unknown|    yes|  no|          1|        S7|       C7|
|         18| 55|    retired|  single|        high.school|     no|    yes|  no|          4|        S8|       C8|
|         19| 41| technician|  single|        high.school|     no|    yes|  no|          4|        S2|       C9|
|         20| 37|     admin.| married|        high.school|     no|    yes|  no|          4|        S2|       C9|
+-----------+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+
only showing top 20 rows

In [23]:
campaign_details.write.mode("overwrite").saveAsTable('campaign_details')
spark.sql("select * from campaign_details").show()

+-----------+---------+-----+-----------+--------+--------+-----+--------+-----------+
|Customer_id|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|
+-----------+---------+-----+-----------+--------+--------+-----+--------+-----------+
|          1|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|
|          2|telephone|  may|        mon|     198|       1|  999|       0|nonexistent|
|          3|telephone|  may|        mon|     139|       1|  999|       0|nonexistent|
|          4|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|
|          5|telephone|  may|        mon|     380|       1|  999|       0|nonexistent|
|          6|telephone|  may|        mon|      50|       1|  999|       0|nonexistent|
|          7|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|
|          8|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|
|          9|telephone|  may|        mon|     137|       1|  999|       0|nonexistent|
|         10|telephone|  may|        mon|     293|       1|  999|       0|nonexistent|
|         11|telephone|  may|        mon|     146|       1|  999|       0|nonexistent|
|         12|telephone|  may|        mon|     174|       1|  999|       0|nonexistent|
|         13|telephone|  may|        mon|     312|       1|  999|       0|nonexistent|
|         14|telephone|  may|        mon|     440|       1|  999|       0|nonexistent|
|         15|telephone|  may|        mon|     353|       1|  999|       0|nonexistent|
|         16|telephone|  may|        mon|     195|       1|  999|       0|nonexistent|
|         17|telephone|  may|        mon|     262|       1|  999|       0|nonexistent|
|         18|telephone|  may|        mon|     342|       1|  999|       0|nonexistent|
|         19|telephone|  may|        mon|     181|       1|  999|       0|nonexistent|
|         20|telephone|  may|        mon|     172|       1|  999|       0|nonexistent|
+-----------+---------+-----+-----------+--------+--------+-----+--------+-----------+
only showing top 20 rows

In [24]:
response_data.write.mode("overwrite").saveAsTable('response_data')
spark.sql("select * from response_data").show()

+-----------+---+
|Customer_id|  y|
+-----------+---+
|          1| no|
|          2| no|
|          3| no|
|          4| no|
|          5| no|
|          6| no|
|          7| no|
|          8| no|
|          9| no|
|         10| no|
|         11| no|
|         12| no|
|         13| no|
|         14| no|
|         15| no|
|         16| no|
|         17| no|
|         18| no|
|         19| no|
|         20| no|
+-----------+---+
only showing top 20 rows

In [25]:
economic_data.write.mode("overwrite").saveAsTable('economic_data')
spark.sql("select * from economic_data").show()

+-----------+------------+--------------+-------------+---------+-----------+
|Customer_id|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|
+-----------+------------+--------------+-------------+---------+-----------+
|          1|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          2|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          3|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          4|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          5|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          6|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          7|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          8|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|          9|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         10|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         11|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         12|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         13|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         14|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         15|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         16|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         17|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         18|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         19|         1.1|        93.994|        -36.4|    4.857|     5191.0|
|         20|         1.1|        93.994|        -36.4|    4.857|     5191.0|
+-----------+------------+--------------+-------------+---------+-----------+
only showing top 20 rows

In [26]:
customer_final.write.mode("overwrite").saveAsTable('customer_final')
spark.sql("select * from customer_final").show()

+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+-------+
|age|        job| marital|          education|default|housing|loan|Region_Code|State_Code|City_Code|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|Deposit|
+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+-------+
| 56|   services| married|        high.school|     no|     no| yes|          3|        S1|       C1|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|     no|
| 45|   services| married|           basic.9y|unknown|     no|  no|          3|        S1|       C1|telephone|  may|        mon|     198|       1|  999|       0|nonexistent|     no|
| 59|     admin.| married|professional.course|     no|     no|  no|          4|        S2|       C2|telephone|  may|        mon|     139|       1|  999|       0|nonexistent|     no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|          3|        S3|       C3|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|     no|
| 24| technician|  single|professional.course|     no|    yes|  no|          3|        S3|       C3|telephone|  may|        mon|     380|       1|  999|       0|nonexistent|     no|
| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|      50|       1|  999|       0|nonexistent|     no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|          4|        S2|       C2|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|     no|
| 25|   services|  single|        high.school|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|     no|
| 29|blue-collar|  single|        high.school|     no|     no| yes|          4|        S2|       C2|telephone|  may|        mon|     137|       1|  999|       0|nonexistent|     no|
| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|         Na|        S2|       C2|telephone|  may|        mon|     293|       1|  999|       0|nonexistent|     no|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|          4|        S2|       C2|telephone|  may|        mon|     146|       1|  999|       0|nonexistent|     no|
| 54|    retired| married|           basic.9y|unknown|    yes| yes|          4|        S2|       C2|telephone|  may|        mon|     174|       1|  999|       0|nonexistent|     no|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|          3|        S4|       C4|telephone|  may|        mon|     312|       1|  999|       0|nonexistent|     no|
| 46|blue-collar| married|           basic.6y|unknown|    yes| yes|          4|        S5|       C5|telephone|  may|        mon|     440|       1|  999|       0|nonexistent|     no|
| 50|blue-collar| married|           basic.9y|     no|    yes| yes|          1|        S6|       C6|telephone|  may|        mon|     353|       1|  999|       0|nonexistent|     no|
| 39| management|  single|           basic.9y|unknown|     no|  no|          1|        S6|       C6|telephone|  may|        mon|     195|       1|  999|       0|nonexistent|     no|
| 55|blue-collar| married|           basic.4y|unknown|    yes|  no|          1|        S7|       C7|telephone|  may|        mon|     262|       1|  999|       0|nonexistent|     no|
| 55|    retired|  single|        high.school|     no|    yes|  no|          4|        S8|       C8|telephone|  may|        mon|     342|       1|  999|       0|nonexistent|     no|
| 41| technician|  single|        high.school|     no|    yes|  no|          4|        S2|       C9|telephone|  may|        mon|     181|       1|  999|       0|nonexistent|     no|
| 37|     admin.| married|        high.school|     no|    yes|  no|          4|        S2|       C9|telephone|  may|        mon|     172|       1|  999|       0|nonexistent|     no|
+---+-----------+--------+-------------------+-------+-------+----+-----------+----------+---------+---------+-----+-----------+--------+--------+-----+--------+-----------+-------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import isnull, when, count, col
final_df.select([count(when(isnull(c), c)).alias(c) for c in final_df.columns]).show()

+-----------+---+---+-------+---------+-------+-------+----+-----------+----------+---------+-------+-----+-----------+--------+--------+-----+--------+--------+-------+
|Customer_id|age|job|marital|education|default|housing|loan|Region_Code|State_Code|City_Code|contact|month|day_of_week|duration|campaign|pdays|previous|poutcome|Deposit|
+-----------+---+---+-------+---------+-------+-------+----+-----------+----------+---------+-------+-----+-----------+--------+--------+-----+--------+--------+-------+
|          0|  0|  0|      0|        0|      0|      0|   0|          0|         0|        0|      0|    0|          0|       0|       0|    0|       0|       0|      0|
+-----------+---+---+-------+---------+-------+-------+----+-----------+----------+---------+-------+-----+-----------+--------+--------+-----+--------+--------+-------+

In [28]:
df_num = ['Customer_id','age','job','marital','education','default','housing','loan','Region_Code','State_Code','City_Code','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','Deposit']

In [29]:
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

def get_distinct_counts(spark, df1, df_num):
    schema = StructType([ \
        StructField("Column",StringType(),True), \
        StructField("DistinctCount",StringType(),True)
      ])
    emptyRDD = spark.sparkContext.emptyRDD()
    resultdf = spark.createDataFrame(emptyRDD, schema=schema)
     
    for x in df_num:
        df_distinct_count = df1.select(F.col(x)).distinct().count()
        df_distinct = spark.createDataFrame([[x, str(df_distinct_count)]],schema=schema)
        resultdf = resultdf.union(df_distinct)
    return (resultdf)
result1 = get_distinct_counts(spark,final_df,df_num)
result1.show()

+-----------+-------------+
|     Column|DistinctCount|
+-----------+-------------+
|Customer_id|        37084|
|        age|           77|
|        job|           12|
|    marital|            4|
|  education|            8|
|    default|            3|
|    housing|            3|
|       loan|            3|
|Region_Code|            5|
| State_Code|           49|
|  City_Code|          531|
|    contact|            2|
|      month|           10|
|day_of_week|            5|
|   duration|         1509|
|   campaign|           42|
|      pdays|           27|
|   previous|            8|
|   poutcome|            3|
|    Deposit|            2|
+-----------+-------------+

In [30]:
df_num_2=['age','job','marital','education','default','housing','loan','Region_Code','State_Code','City_Code','contact','month','day_of_week','duration','campaign']

def get_distribution_counts(spark, df1, df_num):
    result = []
    for i in df_num:
        result.append(df1.groupby(F.col(i)).count().sort(F.col("count").desc()))
    return result
result = get_distribution_counts(spark, final_df, df_num_2)
for i in result:
    print("Distribution for - " + i.columns[0] )
    i.show()

Distribution for - age
+---+-----+
|age|count|
+---+-----+
| 31| 1761|
| 33| 1656|
| 32| 1644|
| 36| 1627|
| 35| 1584|
| 34| 1568|
| 30| 1536|
| 37| 1340|
| 29| 1306|
| 39| 1281|
| 38| 1267|
| 41| 1152|
| 42| 1038|
| 40| 1037|
| 45|  987|
| 46|  944|
| 43|  935|
| 44|  907|
| 28|  896|
| 48|  875|
+---+-----+
only showing top 20 rows

Distribution for - job
+-------------+-----+
|          job|count|
+-------------+-----+
|       admin.| 9420|
|  blue-collar| 8314|
|   technician| 6096|
|     services| 3547|
|   management| 2637|
|      retired| 1541|
| entrepreneur| 1309|
|self-employed| 1276|
|    housemaid|  946|
|   unemployed|  925|
|      student|  767|
|      unknown|  306|
+-------------+-----+

Distribution for - marital
+--------+-----+
| marital|count|
+--------+-----+
| married|22479|
|  single|10407|
|divorced| 4126|
| unknown|   72|
+--------+-----+

Distribution for - education
+-------------------+-----+
|          education|count|
+-------------------+-----+
|  university.degree|10971|
|        high.school| 8542|
|           basic.9y| 5421|
|professional.course| 4746|
|           basic.4y| 3765|
|           basic.6y| 2074|
|            unknown| 1549|
|         illiterate|   16|
+-------------------+-----+

Distribution for - default
+-------+-----+
|default|count|
+-------+-----+
|     no|29382|
|unknown| 7700|
|    yes|    2|
+-------+-----+

Distribution for - housing
+-------+-----+
|housing|count|
+-------+-----+
|    yes|19433|
|     no|16769|
|unknown|  882|
+-------+-----+

Distribution for - loan
+-------+-----+
|   loan|count|
+-------+-----+
|     no|30561|
|    yes| 5641|
|unknown|  882|
+-------+-----+

Distribution for - Region_Code
+-----------+-----+
|Region_Code|count|
+-----------+-----+
|          4|11884|
|          2|10558|
|          1| 8590|
|          3| 5992|
|         Na|   60|
+-----------+-----+

Distribution for - State_Code
+----------+-----+
|State_Code|count|
+----------+-----+
|        S2| 7427|
|       S16| 4212|
|        S6| 3614|
|       S10| 2180|
|        S5| 1881|
|       S11| 1812|
|       S25| 1732|
|        S3| 1410|
|       S13|  959|
|        S4|  920|
|       S17|  844|
|       S18|  812|
|       S33|  692|
|       S23|  681|
|       S19|  658|
|       S15|  562|
|        S1|  520|
|       S32|  491|
|       S31|  479|
|       S22|  460|
+----------+-----+
only showing top 20 rows

Distribution for - City_Code
+---------+-----+
|City_Code|count|
+---------+-----+
|      C21| 3422|
|       C2| 2781|
|      C11| 1996|
|       C9| 1906|
|       C5| 1590|
|      C13| 1372|
|      C23| 1156|
|      C39|  830|
|      C71|  638|
|      C25|  612|
|      C62|  573|
|     C109|  469|
|      C67|  424|
|      C47|  349|
|     C103|  320|
|      C30|  303|
|      C26|  303|
|      C35|  254|
|      C43|  235|
|      C53|  221|
+---------+-----+
only showing top 20 rows

Distribution for - contact
+---------+-----+
|  contact|count|
+---------+-----+
| cellular|23522|
|telephone|13562|
+---------+-----+

Distribution for - month
+-----+-----+
|month|count|
+-----+-----+
|  may|12420|
|  jul| 6430|
|  aug| 5562|
|  jun| 4786|
|  nov| 3705|
|  apr| 2388|
|  oct|  630|
|  sep|  510|
|  mar|  487|
|  dec|  166|
+-----+-----+

Distribution for - day_of_week
+-----------+-----+
|day_of_week|count|
+-----------+-----+
|        thu| 7778|
|        mon| 7671|
|        wed| 7341|
|        tue| 7262|
|        fri| 7032|
+-----------+-----+

Distribution for - duration
+--------+-----+
|duration|count|
+--------+-----+
|      72|  155|
|      73|  152|
|      85|  151|
|     124|  151|
|      90|  149|
|      87|  148|
|     136|  147|
|     109|  146|
|      82|  145|
|     104|  145|
|     111|  144|
|     106|  140|
|     135|  140|
|     126|  140|
|      96|  139|
|      97|  139|
|     122|  139|
|     114|  139|
|      76|  139|
|     125|  138|
+--------+-----+
only showing top 20 rows

Distribution for - campaign
+--------+-----+
|campaign|count|
+--------+-----+
|       1|15883|
|       2| 9532|
|       3| 4777|
|       4| 2389|
|       5| 1441|
|       6|  873|
|       7|  580|
|       8|  360|
|       9|  260|
|      10|  196|
|      11|  165|
|      12|  118|
|      13|   88|
|      14|   62|
|      17|   49|
|      16|   45|
|      15|   41|
|      18|   32|
|      20|   28|
|      19|   25|
+--------+-----+
only showing top 20 rows

In [31]:
final_df.select("education").distinct().show()

+-------------------+
|          education|
+-------------------+
|        high.school|
|            unknown|
|           basic.6y|
|professional.course|
|  university.degree|
|         illiterate|
|           basic.4y|
|           basic.9y|
+-------------------+

In [32]:
final_df.select("marital").distinct().show()

+--------+
| marital|
+--------+
| unknown|
|divorced|
| married|
|  single|
+--------+

In [34]:
final_df.select("job").distinct().show()

+-------------+
|          job|
+-------------+
|   management|
|      retired|
|      unknown|
|self-employed|
|      student|
|  blue-collar|
| entrepreneur|
|       admin.|
|   technician|
|     services|
|    housemaid|
|   unemployed|
+-------------+

In [33]:
state_df=spark.read.load("State_Master.csv", format="csv", inferSchema="true", header="true")
state_df.printSchema()

root
 |-- State_Code: string (nullable = true)
 |-- State_Name: string (nullable = true)
 |-- Region_Code: integer (nullable = true)

In [34]:
region_df=spark.read.load("Region_code_master.csv", format="csv", inferSchema="true", header="true")
region_df.printSchema()

root
 |-- Region_Name: string (nullable = true)
 |-- Region_Code: integer (nullable = true)

In [35]:
city_df=spark.read.load("City_Master.csv", format="csv", inferSchema="true", header="true")
city_df.printSchema()

root
 |-- City_Code: string (nullable = true)
 |-- City_Name: string (nullable = true)
 |-- State_Code: string (nullable = true)

In [36]:
demographics=state_df.join(region_df, on='Region_Code')
demographics.printSchema()

root
 |-- Region_Code: integer (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- State_Name: string (nullable = true)
 |-- Region_Name: string (nullable = true)

In [37]:
demographics=demographics.join(city_df, on='State_Code')
demographics.printSchema()

root
 |-- State_Code: string (nullable = true)
 |-- Region_Code: integer (nullable = true)
 |-- State_Name: string (nullable = true)
 |-- Region_Name: string (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- City_Name: string (nullable = true)

In [38]:
demographics.show(10)

+----------+-----------+----------+-----------+---------+---------------+
|State_Code|Region_Code|State_Name|Region_Name|City_Code|      City_Name|
+----------+-----------+----------+-----------+---------+---------------+
|        S1|          3|  Kentucky|      South|     C460|      Owensboro|
|        S1|          3|  Kentucky|      South|     C431|     Georgetown|
|        S1|          3|  Kentucky|      South|     C257|  Bowling Green|
|        S1|          3|  Kentucky|      South|     C209|         Murray|
|        S1|          3|  Kentucky|      South|     C160|       Florence|
|        S1|          3|  Kentucky|      South|     C103|       Richmond|
|        S1|          3|  Kentucky|      South|       C1|      Henderson|
|        S2|          4|California|       West|     C530|           Lodi|
|        S2|          4|California|       West|     C528|San Luis Obispo|
|        S2|          4|California|       West|     C527|   San Clemente|
+----------+-----------+----------+-----------+---------+---------------+
only showing top 10 rows

In [39]:
demographics.select("Region_Name").distinct().show()

+-----------+
|Region_Name|
+-----------+
|      South|
|    Central|
|       East|
|       West|
+-----------+

In [40]:
demographics.select("State_Name").distinct().show()

+--------------------+
|          State_Name|
+--------------------+
|                Utah|
|           Minnesota|
|                Ohio|
|              Oregon|
|            Arkansas|
|               Texas|
|        North Dakota|
|        Pennsylvania|
|         Connecticut|
|            Nebraska|
|              Nevada|
|          Washington|
|            Illinois|
|            Oklahoma|
|District of Columbia|
|            Delaware|
|          New Mexico|
|            Missouri|
|        Rhode Island|
|             Georgia|
+--------------------+
only showing top 20 rows

In [41]:
demographics.select("City_Name").distinct().show()

+---------------+
|      City_Name|
+---------------+
|          Tyler|
|  Bowling Green|
|          Pasco|
|        Edmonds|
|          Tempe|
|    Springfield|
|       Palatine|
|         Auburn|
|       Thornton|
|North Las Vegas|
|     Georgetown|
|  Lake Elsinore|
|         Wilson|
|      Bethlehem|
|        Phoenix|
|     Plainfield|
|      Hollywood|
|       Woodland|
|         Monroe|
| Pembroke Pines|
+---------------+
only showing top 20 rows

In [42]:

from pyspark.sql import Row
from pyspark.sql.functions import min, max

In [43]:
final_df.select(min("age"),max("age")).show(final_df.count(),False)

+--------+--------+
|min(age)|max(age)|
+--------+--------+
|17      |98      |
+--------+--------+

In [44]:
final_df.select(min("campaign"),max("campaign")).show(final_df.count(),False)

+-------------+-------------+
|min(campaign)|max(campaign)|
+-------------+-------------+
|1            |56           |
+-------------+-------------+

In [45]:
from pyspark.ml.stat import Correlation
import pyspark.sql.functions as f
from pyspark.sql.functions import corr
final_df.agg(corr("previous", "campaign").alias('correlation')).collect()

[Row(correlation=-0.07830000712402792)]

In [46]:
final_df.select('age').describe().show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|             37084|
|   mean|40.042713838852336|
| stddev| 10.43296498543827|
|    min|                17|
|    max|                98|
+-------+------------------+

In [47]:
final_df.select('previous').describe().show()

+-------+-------------------+
|summary|           previous|
+-------+-------------------+
|  count|              37084|
|   mean|0.17298565419048648|
| stddev| 0.4956814561131696|
|    min|                  0|
|    max|                  7|
+-------+-------------------+

In [48]:
final_df.select('pdays').describe().show()

+-------+------------------+
|summary|             pdays|
+-------+------------------+
|  count|             37084|
|   mean| 962.5308488836156|
| stddev|186.77306297861892|
|    min|                 0|
|    max|               999|
+-------+------------------+

In [49]:
final_df.printSchema()

root
 |-- Customer_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- Deposit: string (nullable = true)

In [50]:
final_df = final_df.select('age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit')
cols = final_df.columns
final_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [51]:

# from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
# from sklearn.compose import ColumnTransformer

# categoricalColumns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'poutcome']

# stages = []

# for categoricalCol in categoricalColumns:
    
#     stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    
#     #encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + 'classVec'])
    
#     columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(),categoricalColumns )], remainder='passthrough')
    
    
#     stages += [stringIndexer,columnTransformer]
    
# label_stringIdx = StringIndexer(inputCol = 'deposit', outputCol = 'label')
    
# stages += [label_stringIdx]
# numericCols = ['age', 'balance', 'duration', 'campaign', 'pdays', 'previous']

# assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols

# assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")

# stages += [assembler]

In [52]:
# from pyspark.ml import Pipeline
# pipeline = Pipeline(stages = stages)
# pipelineModel = pipeline.fit(final_df)
# final_df = pipelineModel.transform(final_df)
# selectedCols = ['label', 'features'] + cols
# final_df = final_df.select(selectedCols)
# final_df.printSchema()

In [54]:
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
for col,type in final_df.dtypes:
    if type=='string':
        indexer = StringIndexer(inputCol=col, outputCol=col+"index")
        final_df = indexer.fit(final_df).transform(final_df)
        final_df=final_df.drop(col)
final_df.show()

+---+--------+--------+-----+--------+--------+------------+--------------+------------+------------+---------+------------+-------------+------------+
|age|duration|campaign|pdays|previous|jobindex|maritalindex|educationindex|defaultindex|housingindex|loanindex|contactindex|poutcomeindex|depositindex|
+---+--------+--------+-----+--------+--------+------------+--------------+------------+------------+---------+------------+-------------+------------+
| 56|     307|       1|  999|       0|     3.0|         0.0|           1.0|         0.0|         1.0|      1.0|         1.0|          0.0|         0.0|
| 45|     198|       1|  999|       0|     3.0|         0.0|           2.0|         1.0|         1.0|      0.0|         1.0|          0.0|         0.0|
| 59|     139|       1|  999|       0|     0.0|         0.0|           3.0|         0.0|         1.0|      0.0|         1.0|          0.0|         0.0|
| 41|     217|       1|  999|       0|     1.0|         0.0|           6.0|         1.0|         1.0|      0.0|         1.0|          0.0|         0.0|
| 24|     380|       1|  999|       0|     2.0|         1.0|           3.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 25|      50|       1|  999|       0|     3.0|         1.0|           1.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 41|      55|       1|  999|       0|     1.0|         0.0|           6.0|         1.0|         1.0|      0.0|         1.0|          0.0|         0.0|
| 25|     222|       1|  999|       0|     3.0|         1.0|           1.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 29|     137|       1|  999|       0|     1.0|         1.0|           1.0|         0.0|         1.0|      1.0|         1.0|          0.0|         0.0|
| 57|     293|       1|  999|       0|     8.0|         2.0|           4.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 35|     146|       1|  999|       0|     1.0|         0.0|           5.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 54|     174|       1|  999|       0|     5.0|         0.0|           2.0|         1.0|         0.0|      1.0|         1.0|          0.0|         0.0|
| 35|     312|       1|  999|       0|     1.0|         0.0|           5.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 46|     440|       1|  999|       0|     1.0|         0.0|           5.0|         1.0|         0.0|      1.0|         1.0|          0.0|         0.0|
| 50|     353|       1|  999|       0|     1.0|         0.0|           2.0|         0.0|         0.0|      1.0|         1.0|          0.0|         0.0|
| 39|     195|       1|  999|       0|     4.0|         1.0|           2.0|         1.0|         1.0|      0.0|         1.0|          0.0|         0.0|
| 55|     262|       1|  999|       0|     1.0|         0.0|           4.0|         1.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 55|     342|       1|  999|       0|     5.0|         1.0|           1.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 41|     181|       1|  999|       0|     2.0|         1.0|           1.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
| 37|     172|       1|  999|       0|     0.0|         0.0|           1.0|         0.0|         0.0|      0.0|         1.0|          0.0|         0.0|
+---+--------+--------+-----+--------+--------+------------+--------------+------------+------------+---------+------------+-------------+------------+
only showing top 20 rows

In [55]:
final_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- jobindex: double (nullable = true)
 |-- maritalindex: double (nullable = true)
 |-- educationindex: double (nullable = true)
 |-- defaultindex: double (nullable = true)
 |-- housingindex: double (nullable = true)
 |-- loanindex: double (nullable = true)
 |-- contactindex: double (nullable = true)
 |-- poutcomeindex: double (nullable = true)
 |-- depositindex: double (nullable = true)

In [58]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [60]:
assembler = VectorAssembler(
    inputCols=["age","duration","campaign","pdays","previous","jobindex","maritalindex","educationindex","defaultindex","housingindex","loanindex","contactindex","poutcomeindex"],
    outputCol="features")

(training, test) = final_df.randomSplit([0.7, 0.3])

lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8,featuresCol="features",labelCol="depositindex")


lrModel = lr.fit(training)

# Print the coefficients and intercept for logistic regression
print("Coefficients: %s" % str(lrModel.coefficients))
print("Intercept: %s" % str(lrModel.intercept))

# Summarize the model over the training set and print out some metrics
trainingSummary = lrModel.summary
print("numIterations: %d" % trainingSummary.totalIterations)
print("objectiveHistory: %s" % str(trainingSummary.objectiveHistory))
trainingSummary.residuals.show()
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

IllegalArgumentException: 'Field "features" does not exist.'